*{
    padding: 0;
    margin: 0;
}
body{
  overflow-x: hidden;
}
.header{
   min-height: 100vh;
   width: 100%;
   background-image: url('image/banner.png');
   background-position: center;
   background-size: cover;
   position: relative;
   overflow-x: hidden;
} 

.navbar{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
.nav-links{
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a{
  color: black;
  text-decoration: none;
  font-size: 20px;
}
.nav-links ul li::after{
  content: '';
  width: 0;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after{
  width:100%;

}




.text-box
{
    width: 90;
    color: black;
    position: absolute;
    top:50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
}
.text-box h1{
    font-size: 50px;

}
 .text-box p{
   margin : 10px 0 40px;
   
} 
.hero-btn
{
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 12px 34px;
    font-size: 15px;
    color: black;
    background: transparent;
    cursor: pointer;
}
.hero-btn:hover{
    border:1px groovee black;
    background: orange;
    transition: 1s;
} 
.icon1,.icon2{
  display: none;
}



/*----------couser -------*/
.COURSE{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: black;
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row
{
   margin-top: 5%;
   display: flex;
   justify-content: space-between;
   

}
.course-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);

}

.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.bg-body-tertiary {
  display: none;
}
.campus-col{
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  }
  campus-col img{
    width: 100%;
  }
  .layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
  }
  .layer:hover{
    background: rgba(226,0,0,0.7);
  }


 





@media(max-width:700px)
{
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
      display: block;
    }
    .nav-links{
      position: absolute;
      background: white;
      height: 100vh;
      width: 200px;
      top: 0;
      right: -200px;
      text-align: left;
      z-index: 2;
    }
    .nav-links ul li::after{
      width: 0;

    }
    .nav-links ul li:hover::after {
      width: 50%; 
    }
   .icon1,.icon2{
    display: block;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
   }
   .nav-links ul{
    padding: 30px;
   }
   .row{
        flex-direction: column;
        margin: 30px;
    }

}
@media (max-width: 700px) {
  /* Show the Navbar for smaller screens */
  .bg-body-tertiary {
    display: block;
  }
  .navbar-toggler {
    color: black /* Set your desired color */
  }
  
  /* Custom CSS to change the left position of the navbar toggle icon */
  
  bg-body-tertiary{
    display: none;
  }
  fluid{
    display: none;
  }
  
}

